pkgbase = tinymist-bin
	pkgdesc = An integrated language service for Typst
	pkgver = 0.11.10
	pkgrel = 1
	url = https://github.com/Myriad-Dreamin/tinymist
	arch = x86_64
	license = Apache-2.0
	depends = gcc-libs
	depends = glibc
	provides = tinymist
	conflicts = tinymist-git
	options = strip
	source = https://github.com/Myriad-Dreamin/tinymist/releases/download/v0.11.10/tinymist-linux-x64
	sha256sums = f6f331f1ed23a879474ab4dd1be0ef7c98e23be3f3ad601310c8d6e4cd65fea9

pkgname = tinymist-bin
