pkgbase = tinymist-bin
	pkgdesc = An integrated language service for Typst
	pkgver = 0.11.32
	pkgrel = 1
	url = https://github.com/Myriad-Dreamin/tinymist
	arch = x86_64
	license = Apache-2.0
	depends = gcc-libs
	depends = glibc
	provides = tinymist
	conflicts = tinymist-git
	conflicts = tinymist-nightly-bin
	options = strip
	source = https://github.com/Myriad-Dreamin/tinymist/releases/download/v0.11.32/tinymist-linux-x64?v=0.11.32
	sha256sums = 1dd84e38604fa7e8a5d8af813b2010a20048021b4bf2d481fd3d3e8d600c10c6

pkgname = tinymist-bin
