pkgbase = tinymist-bin
	pkgdesc = An integrated language service for Typst
	pkgver = 0.11.16
	pkgrel = 1
	url = https://github.com/Myriad-Dreamin/tinymist
	arch = x86_64
	license = Apache-2.0
	depends = gcc-libs
	depends = glibc
	provides = tinymist
	conflicts = tinymist-git
	options = strip
	source = https://github.com/Myriad-Dreamin/tinymist/releases/download/v0.11.16/tinymist-linux-x64?v=0.11.16
	sha256sums = 6d7003dc2291c8a36888abf12dff00db81904c253deda0ca351bc5d2f25ad8cf

pkgname = tinymist-bin
